{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-md-6 px-0">
                        <div class="position-relative overflow-hidden" style="height: 250px;">
                            <img class="img-fluid" src={{bots.img.url}} style="object-fit: cover;width:500px;height:500px">
                            <div class="overlay">
                                <div class="mb-2">
                                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                        href="">{{bots.name}}</a>
                                    <a class="text-white" href=""><small>{{bots.date}}</small></a>
                                </div>
                                <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="">{{bots.bio}}</a>
                            </div>
                        </div>
                    </div>
{% endblock content %}






























